body,ul{
    margin:0;
    padding:0;
}
nav{
    margin-top:20px;
    background-color: #333;
    height:50px;
}
ul{
     list-style:none;
    display:flex;
    justify-content: space-around;
    align-items:center; 
    height:100%;
}
li{
    height:100%;
}
a{
     display:block; 
    text-decoration:none;
    color:#fff;
    padding: 10px 20px;
    height: 100%;
}
a:hover{
    background-color:#555;
}
body{
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
 }
    div{
        margin:0;
        padding:0;
        height:100%;
        width: 100%;
        background-size: cover;
    }
body>h1{
    background-color:white;
    color: black;
    margin:0;
    width: 100%;
}
.banner-text h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
.banner-text{
    position:absolute;
    top:25%;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 50px; 
    width: 100%;

}

body>img{
    padding: 8px 10px 0px 0px;
    margin: 0 auto;
    margin-left: 200px;
    display:flex;
    float: left;
    width: 88px !important;
    height: auto;
    padding-right: 10px;
    padding-top: 8px;
    top: 50px;
}
#hostel{
    width: 100%;
}
p{
    width: 100%;
}

  .end{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2rem;
    color: #111;
    opacity: 0.9;
}
/* Hover Effects on social media Icons */
.socialicons a:hover {
    background-color:black;
    transition: 0.5s;
}
.socialicons a:hover i{
    background-color:white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.3s;
    width: 100%;
}
.footerNav ul li a:hover{
    opacity: 1;
    color: white;
}
.footerbottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    
}
.footerContainer{
    opacity: 0.2;
    width: 100%;

}